@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

body {
  margin: 20px;
}

.job {
  width: 80%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}

h1 {
  padding-left: 10px;    
  color: lawngreen;
}

h2 {
  padding-left: 10px;    
  color: rgb(182, 10, 182);
}

.job.hover {
  cursor: pointer;
  color: #666666;
}

.detail-logo {
  height: 30px;
  float: right;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.welcome-description {
  width: 80%;
  margin: 20px 0;
  padding: 20px 10px;
}

.welcome-item {
  opacity: 0;
  transition: .5s ease all;
}

.flex-align-mid {
  display: flex;
  align-items: center;
}

.job-title-location {
  margin-left: 20px;
}